.app {
  button {
    padding: 8px 12px;
    min-width: 120px;
    height: 40px;
    text-align: center;
    margin-right: 30px;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    border: 1px solid #ddd;
    color: #333;
    margin-bottom: 30px;
  }
  button.primary {
    background-color: cornflowerblue;
    color: #fff;
  }
  button.normal {
    color: #333;
    background-color: #fff;
  }
  button.add {
    color: #fff;
    background-color: rgb(76, 204, 76);
  }
  button.delete {
    color: #fff;
    background-color: red;
  }
}
